<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	   http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <bean id="veryUsefulBean" class="pl.marekstrejczek.jmsconsumer.service.VeryUsefulBean"/>
    <bean id="camelContextStarter" class="pl.marekstrejczek.jmsconsumer.service.CamelContextStarter" init-method="start"/>

    <!-- Camel-specific stuff -->
    <bean id="txJmsConfig" class="org.apache.camel.component.jms.JmsConfiguration">
        <property name="connectionFactory" ref="xaJmsConnectionFactory" />
        <property name="transacted" value="true" />
        <property name="transactionManager" ref="jtaTransactionManager" />
        <property name="cacheLevelName" value="CACHE_NONE" />
    </bean>
    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="configuration" ref="txJmsConfig" />
    </bean>
    <bean id="sql" class="org.apache.camel.component.sql.SqlComponent">
        <property name="dataSource" ref="xaDataSource"/>
    </bean>

    <camelContext id="camel1" xmlns="http://camel.apache.org/schema/spring" autoStartup="false">

        <endpoint id="test-queue" uri="activemq:TEST.QUEUE" />
        <endpoint id="out-queue" uri="activemq:OUT.QUEUE" />

        <route id="incoming-message-route">
            <from ref="test-queue" />
            <transacted />
            <setHeader headerName="value">
                <simple>${body}</simple>
            </setHeader>
            <to uri="sql:insert into message (value) values (:#value)"/>
            <bean ref="veryUsefulBean" method="doHeavyProcessing" />
            <to ref="out-queue"/>
        </route>
    </camelContext>
</beans>